body{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    width: 100%;
}
.Encabezado{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    z-index: 9999;
    background-color:  rgb(255, 255, 255);
    color: #4c5caf;
}
.cabezaregis{
    color: #6a4ea6;
    padding-left: 1100px;
}
.imgenca{
    width: 400px;
}
.usuario{   
    width: 100px;
}

.imgprin{
    height: 1000px;
    width: 100%;
}
.paquete{
    max-width: 501px;
    margin: 10px auto;
}
.checkbox{
    width: 100%;
}
.checkbox ul{
    list-style: none;
}
label{
    display: inline-block;
    background: #342555;
    border: 1px solid #2f0f75;
    color: #ffffff;
    border-radius: 25px;
    transition: .2s all ease;
    padding: 20px 200px ;
    font-size: x-large;
}
label:hover{
    border: 1px solid #ffffff;
}
li input[type="checkbox"]:checked + label {
    border: 1px solid #926de2;
    background: #7b65aa;
    color: #ffffff;
}
li input[type="checkbox"] {
    opacity: 0;
}
.subir[type="submit"]{
    position: absolute;
    top: 95%;
    left: 51.5%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 50px;
    border: 3px solid;
    background: rgb(103, 103, 194);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}
.subir:hover{
    border-color: blue;
    transition: .5s; 
}
