* {
    font-family: 'Noto Sans', sans-serif;
}
.firstposition{
    content: none;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    width: 100%;
}
.Encabezado{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    z-index: 9999;
    background-color:  rgb(255, 255, 255);
    color: #4c5caf;
}
.imgenca{
    width: 400px;
}
.menu{
    display: inline-block;
    padding: 0px 10px;
}
.menu:hover{
    border: 3px #6a4ea6 solid;
}
.menu1{
    color: #6a4ea6;
    text-decoration: none;
    padding-right: 11px;
}
.imgprin{
    height: 1000px;
    width: 100%;
}
.nosotros{
    font-size: larger;
    margin: auto;
    width: 1000px;
    height: 350px;
}
.nosotros p{
    color: rgb(154, 44, 182);
}
.service{
    text-align: center;
}
.general{
    text-align: center;
    height: 1000px;
    background-color: #4c5caf;
}
.servicios{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}
.img1{
    display: flex;

    justify-content: center;
    align-items: center;

}
.img1 h2{
    text-align: center;
    position: absolute;
    color: white;
    background-color: black;

}
.img2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img2 h2{
    text-align: center;
    position: absolute;
    color: white;
    background-color: black;

}
.img3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img3 h2{
    text-align: center;
    position: absolute;
    color: white;
    background-color: black;

}
.img4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img4 h2{
    text-align: center;
    position: absolute;
    color: white;
    background-color: black;

}
.comunidad h2{
    font-size: xx-large;
}
.titulocontactos{
    font-size: xx-large;
}
.contac{
    display: flex;
    justify-content: center;
}
.numero{
    width: 250px;
    height: 50px;
    padding: 10px 10px 10px 10px
}
.im1{
    width: 100px;
}
.correo{
    width: 250px;
    height: 50px;
    padding: 10px 10px 10px 10px
}
.direccion{
    width: 250px;
    height: 50px;
    padding: 10px 10px 10px 10px
}
.piedepagina{
    display: flex;
    justify-content: center;
    text-align: left;
    height: 250px;
    background-color: #4c5caf;
    color: white;
}
.part1{
    width: 250px;
    height: 50px;
    padding: 10px 110px 10px 10px
}
.logopie{
    width: 190px;
}
.part2{
    width: 250px;
    height: 50px;
    padding: 10px 110px 10px 10px
}
.part3{
    width: 250px;
    height: 50px;
    padding: 10px 110px 10px 10px
}
.final{
    height: 20px;
    background-color: #4c5caf;
    color: white;
}